<main id="cssSlider" class="subPage">
  <div class="box">

    <table>
      <thead>
        <tr>
          <td colspan="3">
            <h1>CSS SLIDER: 100% CSS NO JAVASCRIPT</h1>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <h3>Completely Configurable: <a class="inline" target="_blank"
                href="https://gitlab.com/bduke97/CSS_Slider">See Documentation</a></h3>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="3">
            <a target="_blank" href="https://bduke97.gitlab.io/CSS_Slider/">
              <h3>DEMO</h3>
            </a>
          </td>
        </tr>
        <tr id="demos">
          <td class="blocks">
            <div class="innerBlock">
              <p>
                Immersive:
                <br>
                <br>100vh and the width of each image is stretched to fit in the center.
              </p>
            </div>
          </td>
          <td class="blocks">
            <div class="innerBlock">
              <p>
                Mixed:
                <br>
                <br>Just like Immersive, but when the screen is to narrow, it is 100vw and the height just keeps the
                aspect ratio of the image.
              </p>
            </div>
          </td>
          <td class="blocks">
            <div class="innerBlock">
              <p>
                Responsive:
                <br>
                <br>This is the original silder, 100vw and the height keeps the aspect ratio of the image.
              </p>

            </div>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <h3>Works On:</h3>
          </td>
        </tr>
        <tr>
          <td class="blocks">
            <div class="innerBlock">
              <p>Chrome</p>
              <img src="../../../../assets/icon/chrome.png" />
            </div>
          </td>
          <td class="blocks">
            <div class="innerBlock">
              <p>Firefox</p>
              <img src="../../../../assets/icon/firefox.png" />
            </div>
          </td>
          <td class="blocks">
            <div class="innerBlock">
              <p>IE 10+ / Edge</p>
              <img src="../../../../assets/icon/ie.png" />
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
