/*FONT IMPORT*/

@font-face {
  font-family: TimeBurnernor;
  src: url(../../../assets/timeburnernormal.ttf);
}

/*FONT*/

* {
  font-family: "TimeBurnernor";
  color: $fontColor;
}

/*TEXT*/

main h1 {
  font-size: 2.6em;
}

main h2 {
  font-size: 2.4em;
}

main h3 {
  font-size: 2.2em;
}

main h4 {
  font-size: 2em;
}

main h5 {
  font-size: 1.9em;
}

main p {
  font-size: 1.8em;
}

a {
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

main a:hover {
  color: $hoverColor;
}

/*fixes padding issue;
puts the page at the top of the screen*/

.subPage p:first-child {
  margin: 0;
  padding: 0;
}
