<main id="about" class="subPage">
  <div class="box">
    <h2 class="line">A Little About Me</h2>
    <p>I was born, raised, and currently reside in the "Wild and Wonderful" state of West Virginia.
      I attended Marshall University and graduated in the spring of 2019 with a BS in Computer Science obtaining Summa
      Cum Laude honors.
      Since graduating I work as a software developer for Encova Insurance and reside in Charleston, WV.
      I have just about always known I would end up in some sort of fiend within the technology industry.
      Computers, software, and electronics have always interested me growing up. I would always like to take things
      apart and see what was in them, I've always wondered how things work and that is
      ultimately what pushed me into the field of Computer Science.
      I consider myself a big geek, just about always have been since I got my first iPod touch back when I was in the
      6th grade.
      My need for gadgets and interests have increased since then moving to running a personal server, working with IoT
      devices, and home automation.
    </p>
  </div>
  <div class="box">
    <h2 class="line">Why the Floppy Disk?</h2>
    <p>That's a great question and truth be told, I don't even know. For as long as I can remember I've
      always been fascinated with them.
      I remember the first time I held one. It was our first computer lesson back when I was in the first grade.
      They taught us how to read and write files on them, which I thought was the coolest thing, that I had files on
      this portable device.
      Since then, I've developed a hopeless love for them.
      I collect them any time I see one, and this has amounted to far more than anyone should have owned when they were
      popular and a USB to 3.5" floppy
      disk reader just for fun.
    </p>
  </div>
  <div class="box">
    <h2 class="line">What I Do</h2>
    <p>I'm currently a software developer for Encova Insurance. On a daily basis I work on
      our internal and external application suites. Next to that I work daily with our SQL database,
      creating databases for the project I am working on, writing stored procedures, and general querying.
      Other things I may be responsible for is setting up and managing IIS servers, working on establishing a CI/CD
      pipeline to
      deploy our applications, and various hot fixes for issues that arrive with our applications.
      <br><br>
      When I'm not at working I still end up doing a lot of the same things. I have set up and maintain a personal home
      server.
      It is a refurbished Dell Poweredge running in RAID with an Ubuntu Server OS. This has allowed me to gain
      experience with a number of things like
      UFW firewall, SSH access with pub/private keys, VPN, server monitoring, deploying my own applications, and working
      with Docker containers.
      <br><br>
      Besides just working and working with my own personal projects, I volunteer my free time as a programming mentor
      for my former high school
      robotics team. I teach the kids Java programming for the robot, web skills for our personal team website <a
        href="https://parts3492.org" target="_blank">parts3492.org</a>, and
      how to work through the software development lifecycle as a group. It is a blast to work with them,
      we spend 6 weeks every January building a robot from scratch to compete in that year's challenge and going to
      competitions to compete on a global scale.
      Our team is a part of <a href="https://www.firstinspires.org/" target="_blank">FIRST Robotics</a> their <a
        href="https://www.firstinspires.org/robotics/frc">FRC</a> program. Competitions are
      3 long strenuous days competing, working on the robot as it takes damage or we add functionality, and hope to
      advance from a regional to the World Competition.
    </p>
  </div>
</main>
