/**********BEGIN ALL MEDIA PAGES**********/


/*ALBUM COVERS*/

#mainMedia {
    text-align: center;
    // needed in wide not mobile? height: 100%;
}

.albums img {
    display: inline-block;
    margin: auto;
    padding: .5em;
}


/*album image:WIDE SCREEN*/

@media only screen and (min-width: 1001px) {
    .albums img,
    .wallpaperAccordion {
        width: 20%;
    }
}


/*album image:NARROW SCREEN*/

@media only screen and (max-width: 1000px) {
    .albums img,
    .wallpaperAccordion {
        width: 60%;
    }
}


/*TABLE SIZE*/

#topMedia {
    width: 100%;
}


/*TEXT*/

#topMedia h1 {
    text-align: center;
}


/*table:WIDE SCREEN*/

@media only screen and (min-width: 1001px) {
    /*PREVIOUS PAGE ARROW*/
    #leftArrow img {
        width: 4em;
    }
    /*SPACER TO KEEP TEXT CENTERED*/
    #blockLR {
        width: 4em;
    }
}


/*table:NARROW SCREEN*/

@media only screen and (max-width: 1000px) {
    /*PREVIOUS PAGE ARROW*/
    #leftArrow img {
        width: 3em;
    }
    /*SPACER TO KEEP TEXT CENTERED*/
    #blockLR {
        width: 3em;
    }
}


/*WALLPAPER SIZE*/

.wallpapers img {
    display: inline-block;
    width: 100%;
    margin: auto;
}


/*WALLPAPER DOWNLOAD DROPDOWN*/

.album {
    cursor: pointer;
}

.wallpaperAccordion {
    padding: .5em;
}


/*wallpaper:WIDE SCREEN*/

@media only screen and (min-width: 1001px) {
    .wallpaperAccordion {
        display: inline-block;
    }
}


/*wallpaper:NARROW SCREEN*/

@media only screen and (max-width: 1000px) {
    .wallpaperAccordion {
        display: block;
        margin: auto;
    }
}

.wallpaperAccordion a {
    text-decoration: none;
}

.wallpaperAccordion input {
    display: none;
}

.wallpaperAccordion .article {
    overflow: hidden;
    max-height: 0px;
}


/*DROP DOWN STYLING*/

.wallpaperAccordion input:checked~ .article.ac-small {
    max-height: 15em;
}

.article.ac-small table {
    width: 100%;
}

.article.ac-small h2 {
    text-align: center;
}

.wallpapers .article.ac-small .downloadLine {
    border-bottom: 1px solid $navHam;
}


/*DROP DOWN ACTION*/

.wallpaperAccordion input:checked~ .article {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.wallpaperAccordion .article {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


/**********END ALL MEDIA PAGES**********/