/**********BEGIN SPONSORING**********/


/*TEXT*/

#mainSponsor a {
    font-weight: bold;
}

#closingSponsor {
    text-align: center;
}

#mainSponsor h1 {
    text-align: center;
}

#mainSponsor p {
    text-align: justify;
}


/**********END SPONSORING**********/