@import "../../scss/_helpers/variables";

.footer-content {
  width: 100%;
  height: 70%;
}

.footer-accent {
  width: 100%;
  height: 30%;
  background-color: darken($footer_color, 10%);
  text-align: center;
  position: relative;
  p {
    position: absolute;
    top: 50%;
    margin: 0 auto;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    font-size: 1.5em;
  }
}

.buttons-wrapper {
  height: 100%;
  margin: 0 auto;
}

.buttons {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.buttons a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  //width: 100%;
  //height: 100%;
  height: 2em;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  color: white;
  background-color: $footer_color_button;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
  width: 8em;
  margin: 0.2em 0;
}

.buttons a:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.buttons a div {
  display: inline-block; //vertical-align: middle;
}

.buttons img {
  height: 1.2em;
  margin-left: 0.5em;
}

/*SCREEN SIZE: WIDE  || SUB-PAGES*/

@media only screen and (min-width: 750px) {
  .buttons-wrapper {
    width: 50%;
  }
}

/*SCREEN SIZE: NARROW */

@media only screen and (max-width: 749px) {
  .buttons-wrapper {
    width: 100%;
  }

  footer {
    height: 10em !important;
  }

  .content {
    padding-bottom: 10em !important;
  }
}

/*FOOTER> KEEP AT BOTTOM*/

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

footer {
  background: $footer_color;
  width: 100%;
  height: 8em;
  position: absolute;
  bottom: 0;
  left: 0;
}
