<footer>
  <div class="footer-content">
    <div class="buttons-wrapper">
      <div class="buttons">
        <a target="_blank" href="https://www.linkedin.com/in/brandon-duke-6519b5168/"
          title="Find me on LinkedIn">LinkedIn<img src="../../../assets/linkedin.svg"></a>
        <a class="github" target="_blank" href="https://github.com/bmduke1997" title="Find me on GitHub">GitHub<img
            src="../../../assets/github.svg"></a>
        <a target="_blank" href="https://gitlab.com/bduke97" title="Find me on GitLab">GitLab<img
            src="../../../assets/gitlab.svg"></a>
        <a target="_blank" href="/contents/resume.pdf" title="Get a copy of my Resume">R&eacute;sum&eacute;<img
            src="../../../assets/resume.svg"></a>
      </div>
    </div>
  </div>
  <div class="footer-accent">
    <p>Brandon Duke - <span id="year">{{ year }}</span></p>
  </div>
</footer>
