<main id="work" class="subPage">
  <div class="box">
    <h2 class="title">Employment</h2>
    <h3 class="line">Encova Insurance</h3>
    <h5>Developer | <a target="_blank" s href="https://encova.com">encova.com</a></h5>
    <h5>Sep 2020 - Present</h5>

    <h5>Information Technology Associate</h5>
    <h5>May 2019 - Sep 2020</h5>

    <h5>Intern, Application Development</h5>
    <h5>May 2018 - May 2019</h5>
    <p>Web application development using the Microsoft .Net Web API for internal and externally facing systems, as well
      as, maintenance of existing systems.
      Database changes consisting of correcting data or adding configurations to existing systems.</p>

    <h5>Intern, Application Development</h5>
    <h5>May 2017 - Aug 2017 & May 2018 - May 2019</h5>
    <p>Responsible for database data fixes as requested by other associates, and
      developing software for company use. Such software includes creating a web
      app to help manage and request EOBs (Explanation of Benefits), and a task screen for the Daily
      Operations Team.</p>
  </div>
  <div class="box">
    <h2 class="title">Web Development</h2>
    <h3 class="line">Soil Tunnel Trailer Website</h3>
    <h5>Status: Completed | <a target="_blank" href="https://github.com/bmduke1997/WVSoilTrailer_Website">GitHub</a>
    </h5>
    <p>"The Soil Tunnel Trailer" site is a website for the WV Capitol Conservation District. I was
      approached by the coordinator through their son who was on my highschool robotics team. This
      website is used as a means for schools and the community to know where "The Soil Tunnel Trailer"
      will be and to get ahold of the coordinator to schedule a visit. </p>

    <h3 class="line">Marshall University
      Geeks and Gadgets Website</h3>
    <h5>Status: Completed | <a target="_blank" href="http://mugeeksandgadgets.github.io">Live Link</a>
      <a target="_blank" href="https://github.com/MUGeeksandGadgets/MUGeeksandGadgets.github.io">GitHub</a>
    </h5>
    <p>I started working on this site as a side project to help my friend Patrick, who is the president
      of the Geeks and Gadgets club at Marshall. He did not have time to maintain it or redo it. So, I
      took the task, and because of my work on this site I have taken a larger role in the group. I am
      now the Vice President and web developer for the group.</p>

    <h3 class="line">Putnam Area Robotics Team
      Website</h3>
    <h5>Status: Maintenance | <a target="_blank" href="http://parts3492.org">Live Link</a> <a target="_blank"
        href="https://github.com/3492PARTs/PARTs_Website">GitHub</a></h5>
    <p>This is my first ever website! I developed it for my highschool robotics team, it started
      because
      I was tired of using "drag-n-drop" sites. I consider it my playground in the web development
      world, as I had no prior knowledge when writing it.</p>
  </div>
  <div class="box">
    <h2 class="title">Research</h2>
    <h3 class="line">Flood Detection and Avoidance Using a Wireless Arduino Based Network</h3>
    <h5>Status: Completed</h5>
    <div>
      <p>Funded By:</p>
    </div>
    <div>
      <p><a target="_blank" s href="http://www.wvspacegrant.org/about/wvsgc/">NASA West Virginia Space
          Grant Consortium Undergraduate Fellowship</a>
        <br> and <br> Marshall University: Creative Discovery and Research Award
      </p>
      <p>Overview: Flash flooding is a very sudden, destructive natural disaster. Per the National
        Oceanic and Atmospheric Administration (NOAA), in the United States the national 30-year
        average for flood deaths is 127 a year. This research is to make a cheap and effective
        wireless network of sensors based around the Arduino device to detect and provide real-time
        data about a particular steam or area. This will provide the potential to save lives and
        property by offering advanced warning to those in the affected area.</p>
    </div>
    <p>My Contribution: I have helped work on the hardware and code for the devices, however my primary focus
      for the project is data transmission, database design, and web app development. I have designed
      the way in which the data is stripped at the base station and inserted to the database. Now, I
      am currently working on developing the web application for both desktop and mobile use, using a
      responsive design to work on a variety of devices and screen sizes.</p>
  </div>
  <div class="seperator"></div>

</main>