<main id="home">
  <div id="intro-wrapper">
    <div id="intro">
      <p>Hello there,
        <br> I'm Brandon Duke
      </p>
      <a routerLink="about">
        <div id="portrait"></div>
      </a>
      <div id="aboutLink">More about me!</div>
    </div>
  </div>
  <div id="bio">
    <p>
      I have my BS in Computer Science from Marshall University in Huntington, West Virginia where I graduated Summa Cum
      Laude.
      Currently, I am a software developer for Encova Insurance in Charleston, WV,
      and in my free time I am the programming mentor for FIRST Robotics FRC Team 3492 P.A.R.T.s (Putnam Area Robotics
      Team) in Putnam County, WV.
      <br>
      <br>
      To learn more about me keep looking though the site. I'm into a variety of things.
      I love to work on anything from web development (both front and back end), server administration (for my home
      server which I use for a variety of projects),
      3D Printing (small hobby), and just about anything tech related.
    </p>
  </div>
  <div id="code">
    <p>
      CODE, It's basically my life!<br><br>
      Java, Python, C#<br>
      HTML/CSS, JS, Angular<br>
      Django, Flask, .NET<br>
      SQL
    </p>
  </div>
</main>
