$bduke_blue: #0065c4;

//PLS REDO VARS
$mainColor: #787878;
$mainAccent: #0065c4;
//Globla Variables
$backgroundColor: #f8f8f8;
$fontColor: #2f2f2f;
$hoverColor: #0065c4;
//
$nav_color: #0065c4;
$navText: white;
$navAccent: #878787;
//
$hamCircle: white;
//
$mainColorShade: #878787;
$navHam: $hoverColor;

$footer_color: $mainColor;
$footer_color_button: $mainAccent;

$cardBackground: white;
