/**********BEGIN ABOUT TEAM**********/


/*BANNERS*/

@import '../_vendors/_banners';
#banners {
    text-align: center;
}

.banners {
    display: inline-block;
}


/*banners:WIDE SCREEN*/

@media only screen and (min-width: 1001px) {
    #scrollBanner {
        display: none;
    }
}


/*banners:NARROW SCREEN*/

@media only screen and (max-width: 1000px) {
    /*BANNERS*/
    #banners {
        height: 16em;
        overflow: auto;
    }
    .banners {
        width: 40.4em;
    }
    #scrollBanner {
        text-align: center;
    }
}


/*TEXT*/

#aboutStart h1,
#mainAbout h1,
#mainAbout h2,
#aboutParts td {
    text-align: center;
}

#aboutParts p,
#awards li {
    text-align: left;
}


/*BOT LAYOUT*/

#coversContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
    overflow-x: auto;
    overflow-y: hidden;
}

#mainAbout .cover {
    display: inline-block;
}

.cover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.2s ease-in-out;
    background-color: $cardBackgrounds;
    width: 350px;
    margin: 1em auto;
    border-radius: .5em;
    text-align: center;

    &:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }

    img{
      margin: 0 auto;
    }

    h2{
        span{
            background-color: $hoverColor;
            display: inline-block;
            padding: 4px 10px;
            border-radius: 15px;
            font-size: .8em;
        }
    }
}


#aboutParts .cover img {
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
    height: 18em;
    border-radius: .5em;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.robotLabel {
    cursor: pointer;
}

.popup {
    background: #fff;
    border-radius: 5px;
    width: 80%;
    position: relative;
    transition: all 1s ease-in-out;
    max-height: 100vh;
}

.popup h2 {
    margin-top: 0;
    padding-top: .5em;
    text-align: center;
}

.popup .close {
    position: absolute;
    transition: all 200ms;
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
    color: $fontColor;
}

.popup .close:hover {
    color: $hoverColor;
}

.popup .robotBio {
    max-height: 80vh;
    padding-right: 2em;
    padding-left: 2em;
    overflow-x: hidden;
    overflow-y: auto;
}

//wide
@media only screen and (min-width: 1001px) {
    .popup .close {
        top: 20px;
        right: 30px;
    }
}

//narrow
@media screen and (max-width: 1000px) {
    .popup {
        width: 80%;
    }
    .popup .close {
        top: 40px;
        right: 30px;
    }
    .noNAV:checked~.fixed-mobile-nav,
    .noNAV:checked~.clear-menu-btn,
    .noNAV:checked~nav {
        visibility: hidden;
        opacity: 0;
        transition: .25s ease-in-out;
    }
}

#mccoyRadio:checked~#wrapper>#content>#mainAbout>#aboutParts>#coversContainer>#mccoy,
#huRadio:checked~#wrapper>#content>#mainAbout>#aboutParts>#coversContainer>#hu,
#djRadio:checked~#wrapper>#content>#mainAbout>#aboutParts>#coversContainer>#dj,
#carlaRadio:checked~#wrapper>#content>#mainAbout>#aboutParts>#coversContainer>#carla,
#turboMikeRadio:checked~#wrapper>#content>#mainAbout>#aboutParts>#coversContainer>#turboMike,
#beanieTheBarbarianRadio:checked~#wrapper>#content>#mainAbout>#aboutParts>#coversContainer>#beanieTheBarbarian,
#beaniehemothRadio:checked~#wrapper>#content>#mainAbout>#aboutParts>#coversContainer>#beaniehemoth {
    visibility: visible;
    opacity: 1;
    z-index: 16;
}

.robotRadio {
    display: none;
}


/**********END ABOUT TEAM**********/
