/**********BEGIN EGG**********/

#EGG {
    margin: auto;
    text-align: center;
}


/*TEXT*/

#EGG h1 {
    text-align: center;
}


/*GIF*/

#beanieGIF {
    width: 50%;
}


/**********END EGG**********/