/**********BEGIN ABOUT FIRST AND GAME**********/


/*TABLE SIZE*/

#mainFirst table {
    width: 100%;
}


/*TABLE TEXT*/

#mainFirst thead h1 {
    text-align: center;
}

#mainFirst ul li {
    text-align: left;
}


/*IMAGE ALIGNMENT*/

#mainFirst td {
    text-align: center;
}


/*FIRST:WIDE SCREEN*/

@media only screen and (min-width: 1001px) {
    #mainFirst h1,
    #mainFirst h2,
    #mainFirst p {
        text-align: left
    }
    /*LOGOS*/
    #first {
        width: 70%;
        margin-bottom: 10%;
    }
    #frc {
        width: 70%;
        margin-top: 10%;
    }
    #gameLogo {
        width: 70%;
    }
}


/*FIRST:NARROW SCREEN*/

@media only screen and (max-width: 1000px) {
    #mainFirst h1,
    #mainFirst h2,
    #mainFirst p {
        text-align: center;
    }
    /*LOGOS*/
    #first {
        margin: 1em;
        width: 40%;
    }
    #frc {
        width: 40%;
        margin: 1em;
    }
    #gameLogo {
        width: 80%;
    }
    /*TABLE DISPLAY*/
    #mainFirst td {
        display: block;
    }
}


/**********END ABOUT FIRST AND GAME**********/