<main id="about" class="subPage">
  <div class="box">
    <h2 class="line">A Little About Me</h2>
    <p>I have lived my whole life in West Virginia. In such a small, outdoorsy state, it is a wonder
      that I choose technology as my passion.
      I consider myself a big tech enthusiast, all starting when I got my first iPod in the sixth
      grade. My love of technology exploded when I
      went to high school. Where I joined the robotics team. I was their web designer and then head
      programmer. The team is what jump-started my love of technology.
      Once I was introduced to the world of programming, I knew that is what I wanted to do, thus my
      decision to enroll as a Computer Science major at Marshall.
    </p>
  </div>
  <div class="box">
    <h2 class="line">Why the Floppy Disk?</h2>
    <p>That's a great question and truth be told, I don't even know! For as long as I can remember I've
      always been fascinated with them.
      I can remember the first time I held one. It was our first computer lesson in the first grade.
      They taught us how to read and write files on them.
      I guess since then, I've developed what I call a "hopeless" love for them.
      I don't want to incriminate myself, but I may own many boxes of them and a USB to 3.5" floppy
      disk reader.
    </p>
  </div>
  <div class="box">
    <h2 class="line">What I Do</h2>
    <p>I'm currently a developer for BrickStreet Insurance. When I'm not at work, you can find me doing
      a variety of things.
      One thing that I love to do is volunteer my free time as a programming mentor for my high school
      robotics team, or working on a variety of technical skills.
      I often find myself acting as tech support for people I know, working on my own technical
      projects, or learning more about web development. I currently run the robotics team's website
      and working on constructing a new website that is hush-hush right now.
    </p>
  </div>
  <div class="box">
    <h2 class="line">What am I Up to Now?</h2>
    <p>I still keep up with the team site but looking for more projects. Currently, I am about to start
      on a new site, but it has to stay under wraps for now. I'll be sure to keep my page updated once
      I'm allowed to announce it!
    </p>
  </div>
</main>
