/*SCREEN SIZE: WIDE  || SUB-PAGES*/

@media only screen and (min-width: 750px) {
  .subPage {
    width: 70%;
    padding-bottom: 1em;
    display: block;
  }
}

/*SCREEN SIZE: NARROW */

@media only screen and (max-width: 749px) {
  main {
    width: 90%;
  }
  .subPage {
    padding-bottom: 1em;
    display: block;
  }
}

main {
  margin-left: auto;
  margin-right: auto;
}
