<main id="home">
  <div id="intro-wrapper">
    <div id="intro">
      <p>Hello there,
        <br> I'm Brandon Duke
      </p>
      <a href="/about/">
        <div id="portrait"></div>
      </a>
      <div id="aboutLink">More about me!</div>
    </div>
  </div>
  <div id="bio">
    <p>I have my BS in Computer Science from Marshall University in Huntington, West Virginia.
      Currently, I am a developer for BrickStreet Insurance in Charleston, West Virginia,
      and the programming mentor for Putnam Area Robotics Team in Putnam County, WV.
      Other than that I like to work on web development, a bit of a passion of mine.
      You can see some of the sites I have worked on, on my work page, also you can see my GitHub page
      for any class projects I have worked on.
    </p>
  </div>
  <div id="code">
    <p>
      CODE<br>
      It's kind of my life!<br>
      Java, Python, C#<br>
      HTML/CSS, JS, Angular JS, Angular<br>
      Flask, Django, .NET Web API, .NET MVC<br>
      SQL<br>
      I love it all!!!
    </p>
  </div>
</main>
